In [1]:
def f():
    # local variable
    s = "Sanket Iyer"
    print(s)
#driver code
f()

Sanket Iyer

In [12]:
def f():
    print("Inside the function: ", s)
#global scope
s = "Sanket Iyer"
print(s)
#driver code
f()
print("Outside the function",s)

Sanket Iyer
Inside the function:  Sanket Iyer
Outside the function Sanket Iyer

In [15]:
# This function has a variable with name same as s.
def f():
    s = "Sanket"
    print(s)
#global scope
s = "Iyer"
f()
print(s)

Sanket
Iyer

In [20]:
#Using global keyword
# This function modifies the global variable 's'
def f():
    global s
    s += ' Sanket'
    print(s)
    s = "working with python"
    print(s)
s = "python is great"
f()
print(s)

python is great Sanket
working with python
working with python

In [21]:
a = 1
# Uses global because there is no local 'a'

def f():
    print('insidef(): ',a)
# Variable 'a' is redefined as a local

def g():
    a = 2
    print('insideg(): ',a)
    
# Uses global keyword to modify global 'a' 
def h():
    global a
    a=3
    print('Inside h():',a)
    
# Global scope   
print('global: ',a)
f()
print('global: ',a)
g()
print('global: ',a)
h()
print('global: ',a)

global:  1
insidef():  1
global:  1
insideg():  2
global:  1
Inside h(): 3
global:  3

In [23]:
#implicit type conversion
x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y
print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

In [24]:
#Python code to demonstrate Type conversion
# using int(), float()
# initializing string

s = "10010"

# printing string converting to int base 2
c = int(s,2)
print("after converting to integer base 2: ", end ="")
print(c)


# printing string converting to float
e = float(s)
print("after converting to float: ",end="")
print(e)

after converting to integer base 2: 18
after converting to float: 10010.0

In [28]:
s = '4'

# printing character converting to integer
c = ord(s)
print("after converting character to integer: ", end ="")
print(c)


# printing integer converting to hexadecimal string
c = hex(56)
print("after converting to hex: ",end="")
print(c)

# printing integer converting to octal string
c = oct(56)
print("after converting to oct: ",end="")
print(c)

after converting character to integer: 52
after converting to hex: 0x38
after converting to oct: 0o70

In [31]:
# to swap two variables in a single line
x = 5
y = 10
x, y = y, x
print("After swapping values of a and y are:",x,y)

After swapping values of a and y are: 10 5

In [2]:
#using arithmatic operator to swap values in python
def swap_values(x,y):
#printing Original values:
    print("Original values")
    print("X:",x)
    print("Y:",y)
    print("-----------")
    
    #swapping variables
    x = x + y
    y = x - y
    x = x - y
    
    #printing values after swapping
    print("values after swapping")
    print("X:",x)
    print("Y:",y)
    
#function call

#integer values:
swap_values(10,20)
print("\n")


#float value
swap_values(10.5,20.5)
print("\n")

Original values
X: 10
Y: 20
-----------
values after swapping
X: 20
Y: 10


Original values
X: 10.5
Y: 20.5
-----------
values after swapping
X: 20.5
Y: 10.5