In [ ]:
#print current date and time
import datetime as d
now = d.datetime.now()
print("Current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
r = float(input("Enter the radius:"))
a = 3.14*r*r
print("Area of the circle:",a)

In [1]:
# Create a Class with instance attributes
class Vehicle:
    
    def __init__(self,max_speed,mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
modelx = Vehicle(240,18)
# modely = Vehicle(210,20)
print(modelx.max_speed, modelx.mileage)

240 18

In [2]:
#  Create a Vehicle class without any variables and methods

class vehicle:
    pass

In [5]:
# Create a child class Bus that will inherit all of the variables and methods of the Vehicle class
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
        

        
class bus(Vehicle):
    pass
    

school_bus = bus("School Volvo",180,12)
print("Vehicle namme: ",school_bus.name,"Speed: ",school_bus.max_speed,"Mileage",school_bus.mileage)

Vehicle namme:  School Volvo Speed:  180 Mileage 12

In [ ]:
# Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

        
class bus(Vehicle):
    pass
    

school_bus = bus("School Volvo",180,12)
print("Vehicle namme: ",school_bus.name,"Speed: ",school_bus.max_speed,"Mileage",school_bus.mileage)








# The seating capacity of a bus is 50 passengers

In [8]:
# Write a program to create a function that takes two arguments, name and age, and print their value.
def person(name,age):
    print(name, age)
    
person("Sanket",21)

Sanket 21

In [11]:
def fun1(*args):
    for i in args:
        print(i)

# call function with 3 arguments
fun1("Printing values: ",20, 40, 60)

# call function with 2 arguments
fun1("Printing values: ",80, 100)

Printing values
20
40
60
Printing values
80
100

In [14]:
def calculation(a, b):
    # Your Code
    return a+b,a-b

res = calculation(40, 10)
print(res)

(50, 30)

In [15]:
def calculation(a, b):
    # Your Code
    add = a+b
    sub = a-b
    return add,sub

res = calculation(40, 10)
print(res)

(50, 30)

In [17]:
def show_employee(name,salary=9000):
    
    print("Name:",name,"salary:",salary)
    
    
show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [20]:
def demo(a,b):
    
    def addition(a,b):
        return a+b
    add = addition(a,b)
    return add+5

result = demo(10,20)
print(result)

35

In [23]:
def fun1(num):
    if num:
        return num + fun1(num -1)
    else:
        return 0
    
res = fun1(10)
print(res)

55

In [31]:
def display_student(name, age):
    print(name,age)


display_student("Sanket",21)

show_student = display_student

show_student("Iyer",22)

Sanket 21
Iyer 22

In [36]:
lst = [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
filter(lambda n:n%2==0,lst)
print(lst)

print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [38]:
x = [4, 6, 8, 24, 12, 2]

print(max(x))

24

In [39]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [40]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [43]:
def fun1(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    return add,sub,mul

res =fun1(7,5)
print(res)

(12, 2, 35)

In [47]:
def fun1(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    print("sum is = {} ,\nsubtraction is = {},\nmultiplication is = {}".format(add,sub,mul))

a = int(input("Enter the value 1: "))
b = int(input("Enter the value 2: "))

fun1(a,b)

Enter the value 1: 7
Enter the value 2: 5
sum is = 12 ,
subtraction is = 2,
multiplication is = 35

In [51]:
def detail(roll):
    x =[23,34,12,40]
    if roll in x:
        print(f"Roll no number {roll} is present")
    else:
        print(f"Roll no number {roll} is absent")

roll = int(input("Enter roll no.: "))
detail(roll)

Enter roll no.: 22
Roll no number 22 is absent

In [54]:
def fun1(a,b,c):
    if a>b & a>c:
        print(f"{a} is maximum among all")
    elif b>a & b>c:
        print(f"{b} is maximum among all")
    else:
        print(f"{c} is maximum among all")

a = int(input("Value of a: "))
b = int(input("Value of b: "))
c = int(input("Value of c: "))

fun1(a,b,c)

Value of a: 30
Value of b: 22
Value of c: 18
30 is maximum among all

In [55]:
def fun1(n):
    if n%2==0:
        print(f"{n} is even")
    else:
        print(f"{n} is odd")
        
n=int(input("Enter the value: "))

fun1(n)

Enter the value: 4
4 is even

In [56]:
def count(val):
    
    vov = 0
    con = 0
    
    for i in range(len(val)):
        
        if val[i] in ['a','e','i','o','u']:
            vov = vov+1
        else:
            con = con+1

    print("Count of vowels is ",vov)
    print("Count of consonent is ",con)

x=input("Enter the word: ")
count(x)

Enter the word: sanket
Count of vowels is  2
Count of consonent is  4

In [58]:
#factorial
def fact(n):
    f = 1
    
    for i in range(1,n+1):
        f = f*i
        
    return f

x = int(input("Enter teh value: "))

result = fact(x)

print(result)

Enter teh value: 6
720

In [59]:
def response(text):
    z = text.upper()
    print(z)
    
text = input("Enter the string: ")
response(text)

Enter the string: sanket
SANKET

In [61]:
def circle(r):
    a = 3.14*r**2
    print("Area of the circle is: ",a)

r =float(input("Enter the radius:"))
circle(r)

Enter the radius:4
Area of the circle is:  50.24

In [63]:
def area(radius):
    area = 3.14*radius*radius
    return area

radius = int(input("Enter Radius: "))  # 4
print("Area of the circle is: ",area(radius))

Enter Radius: 4
Area of the circle is:  50.24

In [64]:
n = int(input("Enter the value: "))

if (n==0 or n<0):
    print("Value of n should be greater than 1 ")
else:
    fact = 1
    while(n):
        fact *=n
        n=n-1
    print(f"Factorial is {fact}")

Enter the value: 5
Factorial is 120

In [1]:
a = int(input("Enter the first no.: "))
b = int(input("Enter the second no.: "))
print(a,b)

Enter the first no.: 3
Enter the second no.: 3
3 3

In [2]:
print('my','Name','is','Sanket',sep='**')

my**Name**is**Sanket

In [3]:
num = 8
print('%o' % num)

10

In [7]:
num = 458.541315
print('%.2f'% num)

458.54

In [1]:
i =1
while i<=10:
    print(i)
    
    i +=1

1
2
3
4
5
6
7
8
9
10

In [2]:
var= "James Bond"
print(var[2::-1])

maJ

In [3]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [4]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [6]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [1]:
 print(int(25.65))

25

In [2]:
import copy
list1 = [10, 20, 30, ['A' , 'B' , 'C']]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list1[3][1] = 0000
list1[1] = 0000
print(list1) 
print(list2)
print(list3)

[10, 0, 30, ['A', 0, 'C']]
[10, 20, 30, ['A', 0, 'C']]
[10, 20, 30, ['A', 'B', 'C']]

In [4]:
print(not('False'))
print(not(0))
print(not(''))
print(not(' '))
print(not(["Python"]))
print(not([]))

False
True
True
False
False
True

In [5]:
print(2^2)

0

In [6]:
class Class_A:
  def __init__(self , var):
         return var
 
obj = Class_A(20)
print(obj)

TypeError: __init__() should return None, not 'int'

In [8]:
class Calculate:
  var1=20
  def __init__(self,var1):
      self.var1 = var1
      self.var1 = self.var1 + 7
      Calculate.var1 = Calculate.var1 + 7
      
def Print(self):
       print(Calculate.var1)
       print(self.var1)
  
Calculate(10).Print()
Calculate(15).Print()

27
17
34
22

In [7]:
print(tuple[3])

tuple[3]

In [9]:
x = 45
y = 25
 
def Sum(x):
  global x
  print("Sum inside Sum() :",x+y)
  
Sum(25) 
print("Sum outside Sum() :",x+y)

SyntaxError: name 'x' is parameter and global (4058986942.py, line 5)

In [10]:
D = {5 : 5, 15 : '15', '5' : 5, '15' : 25} 
D[str(15)] = 100
L = list(D)
L.append("Python")
print(L)

[5, 15, '5', '15', 'Python']

In [11]:
print(0x3 | 0x9)

11

In [13]:
i = 0
while i < 4: 
    print(i , end = "-") 
    i += 1.5
    if((i < 4) == False):
        break
else: 
    print(0 , end = " ")

0-1.5-3.0-

In [2]:
a = int(input("Enter a number: "))
fact = 1
for i in range(1,a+1):
    fact = i*fact
    
    
print(fact)

Enter a number: 5
120

In [9]:
for i in range(5):
     pass
print(i)

4

In [21]:
list1 = [10, 20, 30, ['A' , 'B' , 'C']]
list1[3][1] = 0000
list1[1] = 0000
print(list1)

[10, 0, 30, ['A', 0, 'C']]

In [25]:
class Pet :
     def call_me(name):
         print("Bella")
         
obj = Pet()
# obj.call_me("Bella")
Pet.call_me("Bella")

Bella

In [27]:
def say(p ,q=42,r=5 , s=28):
      print(' p :',p,' q :',q,' r :',r,' s :',s)
        
# say(48,(45,39),s=30)
say(20)

 p : 20  q : 42  r : 5  s : 28

In [29]:
import copy
list1 = [10, 20, 30, ['A' , 'B' , 'C']]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list1[3][1] = 0000
list1[1] = 0000
list1[3][0] = 0000
print(list1) 
print(list2)
print(list3)

[10, 0, 30, [0, 0, 'C']]
[10, 20, 30, [0, 0, 'C']]
[10, 20, 30, ['A', 'B', 'C']]

In [34]:
id(list1[3])

2970327190144

In [35]:
id(list2[3])

2970327190144

In [36]:
import numpy as np
a = np.array([11,22,33,[1,2,3]])
a

ModuleNotFoundError: No module named 'numpy'

In [40]:
!pip3 install numpy

Requirement already satisfied: numpy in c:\users\asus\desktop\internship\env\lib\site-packages (1.21.6)

In [42]:
import numpy as np
a = np.array([11,22,33,[1,2,3]])
a

ModuleNotFoundError: No module named 'numpy'

In [43]:
0.3+0.1

0.4

In [48]:
a='1.2'
f=float(a)

In [49]:
f,type(f)

(1.2, float)

In [1]:
a= '0.1'
i = int(float(a))
type(i)

int

In [57]:
i

0

In [52]:
round(1.5)

2

In [53]:
round(3.5)

4

In [3]:
print(True<False)

False

In [7]:
list1 =[0,1,2,3,4]
list1[0],list1[4] = list1[4],list1[0]
list1[1],list1[3] = list1[3],list1[1]
list1 = list1[1:-1]
print(list1)

[3, 2, 1]

In [8]:
Dict ={"AA":"book"}
Dict['AA'] ='Apple'
print(Dict)

{'AA': 'Apple'}

In [14]:
a ='5.23'
f =float(a)
# print(f)
i =int(float(a))
print(i)

5

In [17]:
a = 5
b= 10
print(f"hello {a} {b}")txt = "We are the so-called \"Vikings\" from the north."

hello 5 10

In [19]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [5]:
# Python3 program to merge two lists
# alternatively

def countList(lst1, lst2):
    return [sub[item] for item in range(len(lst2))
                    for sub in [lst2, lst1]]

# Driver code
lst1 = [1, 2, 3,4,5]
lst2 = [6,7,8,9,10]
print(countList(lst1, lst2))

[6, 1, 7, 2, 8, 3, 9, 4, 10, 5]

In [3]:

def countList(lst1, lst2):
    return [item for pair in zip(lst1, lst2 + [0])for item in pair]

lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c']
print(countList(lst1, lst2))

[1, 'a', 2, 'b', 3, 'c']

In [11]:
# Python3 program to merge two lists
# alternatively
import operator
from functools import reduce

def countList(lst1, lst2):
    return reduce(operator.add, zip(lst1, lst2))

# Driver code
lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c']
print(countList(lst1, lst2))

(1, 'a', 2, 'b', 3, 'c')

In [7]:
lst1 = [1, 2, 3,4,5]
lst2 = [6,7,8,9,10]
x = zip(lst1,lst2)
print(list(x))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [9]:
# create a list of subjects
lst1 = [1, 2, 3, 4, 5]

print("Indices and value in list:")
# get the indices and values using enumerate method
for i in enumerate(lst1):
    print(i)

Indices and value in list:
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [10]:
# create a index list that stores list
indexlist = [1, 2, 3, 4,5]

# create a list of subjects
data = [6,7,8,9,10]


print("index and values in list:")

# get the values from indices using zip method
for index, value in zip(indexlist, data):
    a =zip(indexlist, data)
    print(list(a))

index and values in list:
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [5]:
lst1 = [1, 2, 3,4,5]
lst2 = [6,7,8,9,10]
lst3 = []
for i in range(len(lst1),len(lst2)):
    

print(lst3)
# x = zip(lst1,lst2)
# print(list(x))

[]

In [6]:
lst1 = [1, 2, 3,4,5]
print(lst1[1])

2

In [22]:
l1 = [1, 2, 3, 4,5]
l2 = [6,7,8,9,10]
l3 = []
# [1,6,2,7,3,8,4,9,5,10]

print("index and values in list:")
for i, j in zip(l1, l2):
    print(i,j)
    l3.append(i)
    l3.append(j)
     
    
print(l3)

index and values in list:
1 6
2 7
3 8
4 9
5 10
[1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [25]:
num1 = input()
num2 = int(input())
print(num1*num2)

4
4
4444

In [28]:
class Employee:
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
emp_1 = Employee('Sanket','Iyer',10000)
emp_2 = Employee('Jay','Patel',10000)

print(emp_1.fullname())

Sanket Iyer

In [29]:
class Employee:
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay + 1.04)
    
emp_1 = Employee('Sanket','Iyer',10000)
emp_2 = Employee('Jay','Patel',10000)

print(emp_1.pay)

10000